.pinterest-3m {


	#name-bar {
		background-color: grey;
		height: 35px;
		margin-top: 20px;
    margin-bottom: 20px;
	}

  .main-pic {
    background-color: #40e0d0;
    height: 300px;
  }

  #third-row {
    background-color: cyan;
    height: 150px;
  }

  .thumbnail {
    height: 100px;
  }

  #first-four {
    margin-top: 320px;
  }

  #second-four {
    margin-top: 320px;
  }

  #third-four {
    margin-top: 320px;
  }

  #fourth-four {
    margin-top: 320px;
  }

  #fifth-four {
    margin-top: 320px;
  }
	
  .layout {
    background-color: #f08080;
  }

  #last1 {
    margin-top: 300px;
    background-color: white;
  }
	 .column {
       @include outer-container;
    }
    .column6 {
       @include span-columns(6);
    }

    .column4 {
       @include span-columns(4);
    }

    .column2 {
       @include span-columns(2);
    }

    .column8 {
       @include span-columns(8);
    }

    .column10 {
       @include span-columns(10);
    }

    .column3 {
       @include span-columns(3);
    }

    .column5 {
       @include span-columns(5);
    }

    .column1 {
       @include span-columns(1);
    }
}