<div class="pinterest-compot">
	<div class="navbar">
		<div class="column">
			<div class="column6">
				<button class="btn">Log In</button>
				<button class="btn">Register</button>
				<button class="btn">Language</button>
			    <button class="btn dropdown-toggle" data-toggle="dropdown">></button>
			</div>
			<div class="column6">
			<div id="buttons-right">
				<button class="btn">My Account</button>
				<button class="btn">Order History</button>
				<button class="btn">Newsletter</button>
				<button class="btn">Gift Vouchers</button>
			  </div>
			</div>
		</div>
	</div>

	<div class="column">
		<div class="column8">
			<div id="main-bar">
			<h4></h4>
			</div>
		</div>
		<div class="column4">
		   <div id="search">
			<div class="input-prepend input-append">
			  <input type="text" placeholder="Type here..."/>
				<button class="btn pull-right">Search</button>
				</div>
			</div>
		</div>
	</div>

	<div class="column">
		<div id="line">
		</div>
	</div>
    
    <div class="column">
    	<div id="link-bar">
    	</div>
    </div>

    <div class="main">
    	<h4></h4>
    </div>
     
     <div class="headline">
        <h2>Assorted</h2>
        <h5><strong>Menu</strong></h5>
     </div>

     <div class="column">
     	<div class="column4">
     		<div id="tripic">
     		<h4></h4>
     		</div>
     	</div>
     	<div class="column4">
     		<div id="tripic">
     		<h4></h4>
     		</div>
     	</div>
     	<div class="column4">
     		<div id="tripic">
     		<h4></h4>
     		</div>
     	</div>
     </div>
     	<div class="column">
     		<h2>Featured</h2>
     		<h5>Products</h5>
     	</div>
     <div class="column">
     	<div class="column3">
     		<h6>fhdhsdf hf skjfh</h6>
     		<div id="four-one">
     		<h4></h4>
     		</div>
     		<h3>Chicken chickpea fannell</h3>
     		<h6>Portion</h6>
     		<div><label class="radio"><input type="radio" /> Hungry (300g)</label></div>
			<div><label class="radio"><input type="radio" /> Very hungry (450g)</label></div>
			<h1>23,50 Euro</h1>
			<button class="btn" data-toggle="button">Add to the table...</button>
     	</div>
     	<div class="column3">
     		<h6>fhdhsdf hf skjfh</h6>
     		<div id="four-one">
     		<h4></h4>
     		</div>
     		<h3>Dumplings with meat</h3>
     		<h6>Portion</h6>
     		<div><label class="radio"><input type="radio" /> Hungry (300g)</label></div>
			<div><label class="radio"><input type="radio" /> Very hungry (450g)</label></div>
			<h1>17,50 Euro</h1>
			<button class="btn" data-toggle="button">Add to the table...</button>
     	</div>
     	<div class="column3">
     		<h6>fhdhsdf hf skjfh</h6>
     		<div id="four-one">
     		<h4></h4>
     		</div>
     		<h3>Deset u pola sa lukom</h3>
     		<h6>Portion</h6>
     		<div><label class="radio"><input type="radio" /> Hungry (300g)</label></div>
			<div><label class="radio"><input type="radio" /> Very hungry (450g)</label></div>
			<h1>9,99 Euro</h1>
			<button class="btn" data-toggle="button">Add to the table...</button>
     	</div>
     	<div class="column3">
     		<h6>fhdhsdf hf skjfh</h6>
     		<div id="four-one">
     		<h4></h4>
     		</div>
     		<h3>Cranberiess and sesds</h3>
     		<h6>Portion</h6>
     		<div><label class="radio"><input type="radio" /> Hungry (300g)</label></div>
			<div><label class="radio"><input type="radio" /> Very hungry (450g)</label></div>
			<h1>19,99 Euro</h1>
			<button class="btn" data-toggle="button">Add to the table...</button>
     	</div>
     </div>

     <div class="footer">
     <div class="column">
     <div class="column3">
     	<h4>hjjhhkh</h4>
     	<h4>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</h4>
     	</div>
     	<div class="column3">
     	<h4>hjjhhkh</h4>
     	<h4>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.</h4>
     	</div>
     	<div class="column2">
     		<h4>Compot</h4>
     		<h4>Food and Pieces</h4>
     		<h4>Catering</h4>
     		<h4>Contact</h4>
     	</div>
     	<div class="column2">
     		<h4>Compot</h4>
     		<h4>Food and Pieces</h4>
     		<h4></h4>
     		<h4>Contact</h4>
     	</div>
     	<div class="column2">
     		<h4>Compot</h4>
     		<h4>Food and Pieces</h4>
     		<h4></h4>
     		<h4>Contact</h4>
     	</div>
     	</div>
     </div>

     




</div>