<div class="pinterest-enterprise">
	<div class="heder">
	    <h1>ENTERPRISE</h1>
		<h1>POINT OF SALE</h1>
		<button class="btn">GET  STARTED</button>
	</div>

	<div class="column">
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column4">
			<div id="pic1">
		    </div>
		    <div id="small-text2">
		    <h1>RETAIL</h1>
		    <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </h6>
            <div id="btn2">
		    <button class="btn">FEATURES</button></div>
		</div>
		</div>
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column5">
			<div id="text1">
			   <h1>INTELLIGENT SALES</h1>
			   <h1>POINTS</h1>
			   <div id="small-text1">
			   <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </h6>
			   </div>
			</div>
			<div id="pic2">
		    <h4></h4>
		    </div>
		</div>
	</div>

	<div class="column">
	   <div class="column6">
	   	  <div id="pic3">
	   	  </div>
	   </div>
	   <div class="column5">
	   	  <div id="text3">
	   	    <h1>ENTERPRISE</h1>
	   	     <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </h6>
	   	     <div id="btn3">
	   	     <button class="btn">ENTERPRISE SOLUTIONS</button></div>
	   	    </div>
	   </div>	
	</div>

	<div class="column">
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column2">
			<div id="unknown">
			</div>
		</div>
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column2">
			<div id="unknown">
			</div>
		</div>
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column2">
			<div id="unknown">
			</div>
		</div>
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column2">
			<div id="unknown">
			</div>
		</div>
	</div>

	<div class="line">
		<h4></h4>
	</div>

	<div class="column6">
		<div id="pic4">
		</div>
	</div>
	<div class="column1">
		<h4></h4>
	</div>
	<div class="column3">
	   <div id="text4">
		<h1>POINT OF SALE</h1>
		<h3>INTIUTIVE UI</h3>
		<h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</h6>
		</div>
		<div id="text5">
		<h1>POINT OF SALE</h1>
		<h3>INTIUTIVE UI</h3>
		<h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</h6>
		</div>
	</div>

    <div class="column">
    	<div class="column6">
    	  <div id="text6">
    	<h1>MOBILE POINT</h1>
    	<h1>OF SALE</h1>
    	<h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante. </h6>
    		</div>
    	</div>
    	<div class="column5">
    		<div id="video1">
    		<h4></h4>
    		</div>
    	</div>
    </div>

    <div class="whole-pic">
    	<h1>DASHBOARD OVERVIEW</h1>
    	<h6>Pellentesque habitant morbi tristique senectus et netus et malesuada
    	</h6>
    </div>

    <div class="column4">
    	<div id="pic5">
    	</div>
    </div>
    <div class="column4">
    	<div id="text-between">
    	   <h1>MOBILE PAYMENT</h1>
    	   <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor</h6>
    	   </div>
    	   <div id="video2">
    	   </div>
    </div>
    <div class="column4">
    	<div id="pic5">
    	</div>
    </div>
    </div>
    <div class="form-part">
    <div class="column">
    	<div class="column1">
    		<h4></h4>
    	</div>
    	<div class="column4">
    	   <div id="form1">
    		<input type="text" placeholder="Enter your e-mail" />
    		</div>
			<div id="btn4">			
			<button class="btn btn-info btn-large">REQUEST INFORMATION</button>
			</div>
			</div>
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column4">
			<div id="pic6">
			<h4></h4>
			</div>
		</div>
    </div>
    </div>

    <div class="patent">
      <div class="column4">
      	<h4></h4>
      </div>
      <div class="column4">
    	<h1>PATENTED BACKOFFICE</h1>
    	<h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames.
        Pellentesque habitant morbi tristique senectus et netus</h6>
      </div>
      <div class="column4">
      	<h4></h4>
      </div>
    </div>

    
      <div class="tablet-left">
    	<h4></h4>
     </div>	
     <div class="tablet-link">
        <a href="#" data-toggle="tooltip" data-placement="right" data-animation="false" id="basic-tooltip" data-title="New title">EXPLORE THE BACKOFFICE  ></a>
      </div>

    <div class="last-pic">
    	<h1>HARDWERE SOLUTIONS</h1>
    	<h6>Everything you need to get started</h6>
    	<div id="picinpic">
    	<h4></h4>
    	</div>
    </div>  

    <div class="prefooter">
    	<h1>SOME OF OURS CLIENTS</h1>
    </div>
    
    <div class="clients">
    <div class="column2">
     <div id="clients">
    	<h4></h4>
    	</div>
    </div>
    <div class="column2">
     <div id="clients">
    	<h4></h4>
    	</div>
    </div>
    <div class="column4">
     <div id="clients">
    	<h4></h4>
    	</div>
    </div>
    <div class="column2">
     <div id="clients">
    	<h4></h4>
    	</div>
    </div>
    <div class="column2">
     <div id="clients">
    	<h4></h4>
    	</div>
    </div>
    </div>


   <div class="footer">
   	<div class="column">
   		<div class="column1">
   			<h4></h4>
   		</div>
   		<div class="column2">
   		  <h4>PRODUCTS</h4>
   			<ul class="nav nav-list">
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
		    <li><a href="">Branch</a></li>
			<li><a href="">Buffet</a></li>
			<li><a href="">Italian</a></li>
			<li><a href="">Montenegrin</a></li>
		</ul>
		  <h4>INDUSTRY SOLUT</h4>
		    <ul class="nav nav-list">
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
			</ul>
		  <h4>TECHNOLOGY</h4>
		    <ul class="nav nav-list">
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
			</ul>
   		</div>
   		<div class="column2">
   		  <h4>INFORMATION</h4>
   			<ul class="nav nav-list">
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
		    <li><a href="">Branch</a></li>
			<li><a href="">Buffet</a></li>
			<li><a href="">Italian</a></li>
			<li><a href="">Montenegrin</a></li>
		</ul>
		  <h4>COMPANY</h4>
		    <ul class="nav nav-list">
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
			<li><a href="">Italian</a></li>
			<li><a href="">Montenegrin</a></li>
			</ul>
		</div>	
		<div class="column2">
   		  <h4>FOLLOW US</h4>
   			<ul class="nav nav-list">
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
		    <li><a href="">Branch</a></li>
			<li><a href="">Buffet</a></li>
			<li><a href="">Italian</a></li>
			<li><a href="">Montenegrin</a></li>
		</ul>
		  <h4>BLOG</h4>
		    <ul class="nav nav-list">
			<li><a href="">American</a></li>
			</ul>
			<div id="haha">
			<h4></h4>
			</div>
		</div>	
		<div class="column2">
			<h4></h4>
		</div>
		<div class="column2">
		  <div id="haha2">
			<h4>CONTACT</h4>
   			<ul class="nav nav-list">
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
		    <li><a href="">Branch</a></li>
		    </ul>
		    <h4>HEADQUARTER</h4>
   			<ul class="nav nav-list">
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
			</ul>
			</div>
		</div>
		<div class="column1">
			<h4></h4>
		</div>
   	</div>
   </div>

    <div id="kraj">
    <div class="column">
    	<div class="column1">
    		<h4></h4>
    	</div>
    <div class="column2">
   	 <h4>WALMOB</h4>
   	 </div>
   	 <div class="column2">
   	 	<h4></h4>
   	 </div>
   	 <div class="column2">
   	 	<h5>2014 All rights reserved</h5>
   	 </div>
   	 <div class="column2">
   	 	<h4></h4>
   	 </div>
   	 <div class="column2">
   	 	<div id="visa">
   	 	</div>
   	 </div>
   </div>
   </div>
    

</div>