<div class="pinterest-3m">
	
<div class="column">
	<div class="column4">
		<div id="name-bar">
		<h1>3M</h1>
		
		</div>
	</div>
</div>

<div class="column">
<div class="column1">
<h4></h4>
	</div>
	<div class="column5">
<div class="btn-group">
		<button class="btn">Link1</button>
		<button class="btn">Link2</button>
		<button class="btn">Link3</button>
		<button class="btn">Link4</button>
		<button class="btn">Link5</button>
		<button class="btn">Link6</button>
	</div>
	</div>
	</div>

<div class="main-pic">
	<h4></h4>
</div>

<div class="column">
	<div class="headline">
		<h2>FEATURED</h2>
	</div>
</div>
<div class="column">
<ul class="thumbnails">
	<li class="column6">
		<div class="thumbnail">
			<img src="/home/neptun/Desktop/custom/demo-team-member.jpg" alt="Demo Team Member">
			<div class="caption">
				<h5>John Doe</h5>
				<p class="muted">hdfjfhdfh  df dfjhf jdfhjdhff hfdjfh dh dfh f hfddjfhf dhf hfjdffh</p>
				<p><small>Follow John on: <a href="">Twitter</a><span class="muted">/</span><a href="">Facebook</a></small></p>
			</div>
		</div>
	</li>
	<li class="column6">
		<div class="thumbnail">
			<img src="/home/neptun/Desktop/custom/demo-team-member.jpg" alt="Demo Team Member">
			<div class="caption">
				<h5>John Doe Second</h5>
				<p class="muted">hdfjfhdfh  df dfjhf jdfhjdhff hfdjfh dh dfh f hfddjfhf dhf hfjdffh</p>
				<p><small>Follow John on: <a href="">Twitter</a><span class="muted">/</span><a href="">Facebook</a></small></p>
			</div>
		</div>
	</li>
</ul>
</div>
</div>

</div>