<div class="pinterest-3m">
	
<div class="column">
	<div class="column4">
		<div id="name-bar">
		  <h1>3M</h1>
		</div>
	</div>
</div>

<div class="column">
  <div class="column1">
    <h4></h4>
  </div>
  <div class="column5">
    <div class="btn-group">
		<button class="btn">Link1</button>
		<button class="btn">Link2</button>
		<button class="btn">Link3</button>
		<button class="btn">Link4</button>
		<button class="btn">Link5</button>
		<button class="btn">Link6</button>
	</div>
  </div>
</div>

<div class="main-pic">
	<h4></h4>
</div>
<div class="layout">
<div class="column">
<div class="column1">
	<h4></h4>
</div>
  <div class="column4">
  <div class="headline">
	<h2>FEATURED</h2>
  </div>
</div>
</div>

<div class="column">
  <ul class="thumbnails">
	<li class="column6">
		<div class="thumbnail">
			<img src="../images/rossi-2011-sepang-motogp-te.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies</h5>
				<p class="muted">VIEW</p>
			   </div>
		</div>
	</li>
	<li class="column6">
		<div class="thumbnail">
			<img src="../images/rossi-2011-sepang-motogp-te.jpg" alt="Demo Team Member">
			  <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum</h5>
				<p class="muted">VIEW</p>
			  </div>
		</div>
	</li>
  </ul>
</div>

<div class="column">
<div id="first-four">
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
</div>
</div>

<div class="column">
<div id="second-four">
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique se</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique se</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
</div>
</div>

<div class="column">
<div id="third-four">
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique se</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique se</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
</div>
</div>

<div class="column">
<div id="fourth-four">
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique se</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique se</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
</div>
</div>

<div class="column">
<div id="fifth-four">
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique senectus</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique se</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
	<ul class="thumbnails">
		<li class="column3">
			<div class="thumbnail">
				<img src="../images/200x300px-okayama_al_norte.jpg" alt="Demo Team Meme">
			   <div class="caption">
				<h5>Pellentesque habitant morbi tristique se</h5>
				<p class="muted">VIEW</p>
			   </div>
			</div>
		</li>
	</ul>
</div>
</div>



<div class="column">
<div id="last1">
	<div class="column4">
		<h4></h4>
	</div>
	<div class="column4">
		<a href="" class="btn">Tweet <span class="icon-chevron-right"></span></a>
		<a href="" class="btn">Like <span class="icon-chevron-right"></span></a>
		<a href="" class="btn">More <span class="icon-chevron-right"></span></a>
		</div>
	</div>
</div>
</div>

<div class="column">
	<div class="column8">
		<a href="" class="btn">bbcbbcb <span class="icon-chevron-right"></span></a>
		<a href="" class="btn">mfdbfsbfmsbsfb <span class="icon-chevron-right"></span></a>
		<a href="" class="btn">bfbfsbf<span class="icon-chevron-right"></span></a>
	</div>
</div></div>
</div>


