<div class="pinterest-enterprise">
	<div class="heder">
	    <h1>ENTERPRISE</h1>
		<h1>POINT OF SALE</h1>
		<button class="btn">GET  STARTED</button>
	</div>

	<div class="column">
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column4">
			<div id="pic1">
		    </div>
		    <div id="small-text2">
		    <h1>RETAIL</h1>
		    <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </h6>
            <div id="btn2">
		    <button class="btn">FEATURES</button></div>
		</div>
		</div>
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column5">
			<div id="text1">
			   <h1>INTELLIGENT SALES</h1>
			   <h1>POINTS</h1>
			   <div id="small-text1">
			   <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </h6>
			   </div>
			</div>
			<div id="pic2">
		    <h4></h4>
		    </div>
		</div>
	</div>

	<div class="column">
	   <div class="column6">
	   	  <div id="pic3">
	   	  </div>
	   </div>
	   <div class="column5">
	   	  <div id="text3">
	   	    <h1>ENTERPRISE</h1>
	   	     <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. </h6>
	   	     <div id="btn3">
	   	     <button class="btn">ENTERPRISE SOLUTIONS</button></div>
	   	    </div>
	   </div>	
	</div>

	<div class="column">
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column2">
			<div id="unknown">
			</div>
		</div>
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column2">
			<div id="unknown">
			</div>
		</div>
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column2">
			<div id="unknown">
			</div>
		</div>
		<div class="column1">
			<h4></h4>
		</div>
		<div class="column2">
			<div id="unknown">
			</div>
		</div>
	</div>

	<div class="line">
		<h4></h4>
	</div>

	<div class="column6">
		<div id="pic4">
		</div>
	</div>
	<div class="column1">
		<h4></h4>
	</div>
	<div class="column3">
	   <div id="text4">
		<h1>POINT OF SALE</h1>
		<h3>INTIUTIVE UI</h3>
		<h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</h6>
		</div>
		<div id="text5">
		<h1>POINT OF SALE</h1>
		<h3>INTIUTIVE UI</h3>
		<h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas</h6>
		</div>
	</div>

    <div class="column">
    	<div class="column6">
    	  <div id="text6">
    	<h1>MOBILE POINT</h1>
    	<h1>OF SALE</h1>
    	<h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante. </h6>
    		</div>
    	</div>
    	<div class="column5">
    		<div id="video1">
    		<h4></h4>
    		</div>
    	</div>
    </div>

    <div class="whole-pic">
    	<h1>DASHBOARD OVERVIEW</h1>
    	<h6>Pellentesque habitant morbi tristique senectus et netus et malesuada
    	</h6>
    </div>

    <div class="column4">
    	<div id="pic5">
    	</div>
    </div>
    <div class="column4">
    	<div id="text-between">
    	   <h1>MOBILE PAYMENT</h1>
    	   <h6>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor sit amet, ante.feugiat vitae, ultricies eget, tempor</h6>
    	   </div>
    	   <div id="video2">
    	   </div>
    </div>
    <div class="column4">
    	<div id="pic5">
    	</div>
    </div>


</div>