<div class="pinterest-urbanspoon">
	
    <div class="header">
    <div id="heder">
    <div class="column3">
    	<h1>URBANSPOON</h1>
    	</div>
    	<div class="column5">
    		<div class="btn-group" data-toggle="buttons-radio">
				<button class="btn">SAN DIEGO</button>
				<button class="btn">OURHOODS</button>
				<button class="btn">COUSINE</button>
				<button class="btn">FEATURES</button>
			</div>
    	</div>
    	
    	<div class="column4">
    	<div id="ikonice">
    		<button class="btn">LOG IN / SIGN IN</button>
    		<i class="icon-twitter"></i>
    		<i class="icon-facebook"></i>
    		<i class="icon-pinterest"></i>
    		<i class="icon-skype"></i>
    		</div>
    	</div>
    	</div>
    </div>
   
   <div class="main-pic">
       	<div id="pic-line">
       	<h1>Find San Diego best Eateries</h1>
       	<div id="pic1-bat">
       	<button class="btn">EXPLORE SAN DIEGO</button>
       	</div>
       	</div>
   </div>

   <div class="column">
     <div id="first-hedline">
   	<div class="column3">
   		<h1>Cuesines</h1>
   	</div>
   	<div class="column9">
   		<h1>Talk of the Town</h1>
   	</div>
   	</div>
   </div>

   <div class="column">
   	<div class="column3">
   		<h4></h4>
   	</div>
   	<div class="column9">
   	<div id="first-hedline-small">
   		<h5><mute>Most reviewed and blogged about restorants in San Diego</mute></h5>
   		</div>
   	</div>
   </div>

   <div class="column">
   	<div class="column3">
   	<div id="food-links">
   		<ul class="nav nav-list">
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
		    <li><a href="">Branch</a></li>
			<li><a href="">Buffet</a></li>
			<li><a href="">Italian</a></li>
			<li><a href="">Cheenese</a></li>
		    <li><a href="">Indian</a></li>
			<li><a href="">Montenegrin</a></li>
			<li><a href="">Brasilian</a></li>
			<li><a href="">Organic</a></li>
		    <li><a href="">Pizza</a></li>
			<li><a href="">Sandwiches</a></li>
		</ul>
	  </div>
   	</div>
   	<div class="column3">
   		<div id="first-menu">
   		<h4></h4>
   		</div>
   		<div id="food-name">
   		<h3>Romesco Baja De Mistro</h3>
   		</div>
   		<div id="food-name-small">
   		<h5>Meditarenian, Mexican and Spanish</h5>
   		<button class="btn">89% (139 votes)</button>
   		<button class="btn">$$$</button>
   		</div>
   	</div>
   		<div class="column3">
   		<div id="first-menu">
   		<h4></h4>
   		</div>
   		<div id="food-name">
   		<h3>Waypouint Public</h3>
   		</div>
   		<div id="food-name-small">
   		<h5>American Gastropub</h5>
   		<button class="btn">89% (139 votes)</button>
   		<button class="btn">$$$</button>
   		</div>
   	</div>
   		<div class="column3">
   		<div id="first-menu">
   		<h4></h4>
   		</div>
   		<div id="food-name">
   		<h3>Sushi bar Restorant</h3>
   		</div>
   		<div id="food-name-small">
   		<h5>Japanese, Cheenese and Asian</h5>
   		<button class="btn">89% (139 votes)</button>
   		<button class="btn">$$$</button>
   		</div>
   	</div>
   </div>

   <div class="second-largepic">
   	<h4></h4>
   	<div class="column">
   	  <div id="second-pichedline">
   		<h1>Are you always on the run</h1>
   		<h4>Well lucky for you we got you covered</h4>
   		<button class="btn">Android</button>
   		<button class="btn">App Store</button>
   		</div>
   	</div>
   </div>

   <div class="column">
   	<h2>San Diegos most popular places</h2>
   	<div id="second-hedlinesmall">
   	<h5>From fine dinnigs to cheep places, wee got you all right here</h5>
   	</div>
   </div>

   <div class="column">
   	<div class="column3">
   		<div id="first-menu">
   		<h4></h4>
   		</div>
   		<div id="food-name">
   		<h3>Sushi bar Restorant</h3>
   		</div>
   		<div id="food-name-small">
   		<h5>Japanese, Cheenese and Asian</h5>
   		<button class="btn">89% (139 votes)</button>
   		<button class="btn">$$$</button>
   		</div>
   	</div>
   	<div class="column3">
   		<div id="first-menu">
   		<h4></h4>
   		</div>
   		<div id="food-name">
   		<h3>Sushi bar Restorant</h3>
   		</div>
   		<div id="food-name-small">
   		<h5>Japanese, Cheenese and Asian</h5>
   		<button class="btn">89% (139 votes)</button>
   		<button class="btn">$$$</button>
   		</div>
   	</div>
   	<div class="column3">
   		<div id="first-menu">
   		<h4></h4>
   		</div>
   		<div id="food-name">
   		<h3>Sushi bar Restorant</h3>
   		</div>
   		<div id="food-name-small">
   		<h5>Japanese, Cheenese and Asian</h5>
   		<button class="btn">89% (139 votes)</button>
   		<button class="btn">$$$</button>
   		</div>
   	</div>
   	<div class="column3">
   		<div id="first-menu">
   		<h4></h4>
   		</div>
   		<div id="food-name">
   		<h3>Sushi bar Restorant</h3>
   		</div>
   		<div id="food-name-small">
   		<h5>Japanese, Cheenese and Asian</h5>
   		<button class="btn">89% (139 votes)</button>
   		<button class="btn">$$$</button>
   		</div>
   	</div>
   </div>

    <div class="mainpic3">
    	<h1>Coffee bean and Tea leaf</h1>
    	<h5>March 3rd 2014</h5>
    	<h2>Your favorite coffee is now aveliable</h2>
    	<h2>4 variates K-Cup packs, cafee roast is what</h2>
    	<button class="btn">Follow the cafee bean</button>
   		<button class="btn">View all restaurantes</button>
    </div>

    <div class="column">
    	<div class="column5">
    		<h2>San Diego Neighborhoods</h2>
    		<div id="second-hedlinesmall">
    		<h5>We know neighborhoods, you will get to know foods</h5>
    	</div>
    	</div>
    	<div class="column5">
    		<h2>Lake Side Hot Spot</h2>
    		<div id="second-hedlinesmall">
    		<h5>Everybody talking about this place</h5>
    	</div>
    	</div>
    </div>

    <div class="column">
    	<div class="column2">
    	   <div id="food-links">
    		<ul class="nav nav-list">
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
		    <li><a href="">Branch</a></li>
			<li><a href="">Buffet</a></li>
			<li><a href="">Italian</a></li>
			<li><a href="">Montenegrin</a></li>
		</ul></div>
    	</div>
    	<div class="column3">
    	<div id="food-links2">
    		<ul class="nav nav-list">
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
		    <li><a href="">Branch</a></li>
			<li><a href="">Buffet</a></li>
			<li><a href="">Italian</a></li>
			<li><a href="">Montenegrin</a></li>
			<li><a href="">American</a></li>
			<li><a href="">Breakfast</a></li>
		    <li><a href="">Branch</a></li>
			<li><a href="">Buffet</a></li>
			<li><a href="">Italian</a></li>
			<li><a href="">Montenegrin</a></li>
		</ul>
		</div>
    	</div>
    	<div class="column4">
    		<div id="noname-pic">
    		<h4></h4>
    		</div>
    	</div>
    	<div class="column3">
    	    <div id="p11">
    		<h3>East Bound and Grill</h3>
    		</div>
    		<div id="p12">
    		<h5>American Burgers and Tacos</h5>
    		</div>
    		<button class="btn">89% (139 votes)</button>
   		    <button class="btn">$$$</button>
   		    <div id="p13">
   		    <h4></h4>
   		    </div>
    	</div>
    </div>

    <div class="lastpic">
    	<h1>Still cant decide where to go?</h1>
    	<h4>Lock in your must have and let us do the work</h4>
    	<div class="column">
    	   <div class="column4">
    	   <div id="last-box">
    			<h4></h4>
    		</div></div>
    		<div class="column4">
    		<div id="last-box">
    			<h4></h4>
    		</div></div>
    		<div class="column4">
    		<div id="last-box">
    			<h4></h4>
    		</div></div>

    	</div>
    </div>

    <div id="last-row">
    <div class="column">
      <div class="column3">
        <div id="last-hedline">
    	<h1>URBANSPOON</h1>
    	</div>
    	</div>
    	<div id="last-links">
    	<div class="column9">
    		<a href="">About    |</a>
    		<a href="">Mobile    |</a>
    		<a href="">Advertise    |</a>
    		<a href="">Careers    |</a>
    		<a href="">Contact    |</a>
    		<a href="">Privacy  </a>
    	</div>
    	</div>
    	</div>
    </div>
   
   
   
 
   
   

</div>