<div class="pinterest-progress">
	
  <div class="column">
	<div class="column6">
	  <div id="site-name">
	    <h1>PROGRESS</h1>
	  </div>
	</div>
	<div class="column6">
	  <div id="link-bar">
	 	<h4></h4>
	  </div>
	</div>
  </div>

  <div class="mainbar">
  	<h4></h4>
  </div>

  <div class="column">
  	<div class="column4">
  	  <div id="third-row">
  		<h4></h4>
  	  </div>
  	</div>
  	<div class="column4">
  	  <div id="third-row">
  		<h4></h4>
  		</div>
  	</div>
  	<div class="column4">
  	  <div id="third-row">
  		<h4></h4>
  	  </div>
  	</div>
  </div>

  <div class="column">
  	<div class="column4">
  	  <div id="fourth-row">
  		<h4></h4>
  	  </div>
  	</div>
  	<div class="column4">
  	  <div id="fourth-row">
  		<h4></h4>
  	  </div>
  	</div>
  	<div class="column4">
  	  <div id="fourth-row">
  		<h4></h4>
  	  </div>
  	</div>
  </div>

  <div class="column">
  	<h2>OUR ADVANTAGES</h2>
  </div>

  <div class="column">
  	<div class="column6">
  	  <div id="fifth-row">
  	  </div>
  	</div>
  	<div class="column6">
  	  <div id="fifth-row">
  	  </div>
  	</div>
  </div>

  <div class="column">
  	<div class="column6">
  	  <div id="sixth-row">
  	  </div>
  	</div>
  	<div class="column6">
  	  <div id="sixth-row">
  	  </div>
  	</div>
  </div>

  <div class="column">
  	<div id="thin-line">
  	  <h4></h4>
  	</div>
  </div>

  <div class="column">
  	<div class="column3">
  	  <div id="seventh-row">
        <h4></h4>
  	  </div>
  	</div>
  	<div class="column3">
  	  <div id="seventh-row">
        <h4></h4>
  	  </div>
    </div>
  	<div class="column3">
  	  <div id="seventh-row">
        <h4></h4>
  	  </div>
    </div>
  	<div class="column3">
  	  <div id="seventh-row">
        <h4></h4>
  	  </div>
  	</div>
  </div>

  <div class="column">
    <div class="column5">
      <h4></h4>
    </div>
    <div class="column2">
      <div id="last">
    	<h4></h4>
      </div>
    </div>
  </div>

  <div class="column">
    <h4></h4>
  </div>


  </div>
</div>
  
